body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    font-size:16px;
    background-color: gold;
    position: relative;
    background-size: cover;
    color: #333;
}

.hotelheader {
background-image: url('https://ssegirinyapius07-lab.github.io/SSEGIRINYAPIUS07/pius2.jpg');
  
    position:relative;
    background-size:cover ;
    color: red;
    text-align: center;    
    padding: 5px;
    margin:auto;
}
header h1 {
    margin: 0;
    font-size:50px;
}
nav ul {
    list-style: none;
    padding: 20px;
    margin: 15px 0 0 0;
    display: flex;
    color:white;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
}
nav ul li {
    margin: 10px;
}
nav ul li a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
}
.menu-card {
  text-align:center ;
  background-color: white;
  border-radius: 8px;
  border: 10px solid grey;
  border-align: center;
  font-weight: bold;
  width: 250px;
  padding:70px;
  justify-content: center;
  margin:auto;
  font-size:18px;
}
p{
    text-align: center;
}
nav ul li {
    margin: 8px;
}
nav ul li a:hover {
    background-color: white;
    }
    .meeting-rooms{
  text-align:center ;
  background-color: white;
  border-radius: 8px;
  border:10px solid grey;
  font-weight: bold;
  width: 250px;
  margin:auto;
  padding:70px;
  justify-content:center;
  margin:auto;
  font-size:18px;

        
    }
    .Room-card{
        text-align: center;
        border-radius:8px;
        background-color: white;
        font-weight:bold;
        width:250px;
        margin:auto;
        border:10px solid grey;
        padding:70px;
        border-align: center;
        font-size:18px;

    }
    .intro{
        text-align: center;
        font-size:20px;
    }
    .core ul{
        list-style:none;
    }
    . gallary h3{
        align: center;
        color:red;
    }
    . gallary a{
        text-align: center;
        justify-content: center;
    }
    .facilities{
        border:10px solid grey;
        width:250px;
        border-radius:8px;
        padding:70px;
        margin:auto;
        background-color:white;
        font-size:18px;

    }
    .hotelfooter{
        font-size:20px;
        background-color:green;
        background-size:cover;
        margin:auto; 

    }























